<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Total confirmed</th>
        <th scope="col">Total deaths</th>
        <th scope="col">Total recovered</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let country of filteredCountries">
        <td>{{ country.countryName }}</td>
        <td>{{ country.totalConfirmed | number }}</td>
        <td>{{ country.totalDeaths | number }}</td>
        <td>{{ country.totalRecovered | number }}</td>
      </tr>
    </tbody>

    <tfoot *ngIf="summary">
      <tr>
        <th scope="row"><strong>Total</strong></th>
        <td><strong>{{ summary.totalConfirmed | number }}</strong></td>
        <td><strong>{{ summary.totalDeaths | number }}</strong></td>
        <td><strong>{{ summary.totalRecovered | number }}</strong></td>
      </tr>
    </tfoot>
  </table>
</div>
