<div class="input-group navigation-panel">
  <div class="autocomplete-group">
    <input
      #countryName
      type="text"
      class="form-control"
      placeholder="{{ autocompletePlaceholder }}"
      aria-label="Find country and switch view between chart and table"
      aria-describedby="button-addon"
      (keyup)="autocomplete($event)"
    />

    <div
      *ngIf="autocompleteSuggestions && autocompleteShow"
      class="autocomplete-container"
    >
      <p *ngIf="autocompleteSuggestions.lenght === 0">No match found.</p>

      <ul class="autocomplete-suggestions">
        <li
          *ngFor="let suggestion of autocompleteSuggestions"
          (click)="
            chooseCountry(suggestion);
            countryName.value = suggestion.countryName
          "
        >
          {{ suggestion.countryName }}
        </li>
      </ul>
    </div>
  </div>

  <div class="input-group-append" id="button-addon">
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="switchView('table')"
      [ngClass]="{ active: currentView === 'table' }"
    >
      Table view
    </button>
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="switchView('chart')"
      [ngClass]="{ active: currentView === 'chart' }"
    >
      Chart view
    </button>
  </div>
</div>
