.navigation-panel {
  margin-bottom: 32px;

  @media screen and (max-width: 575.98px) {
    flex-direction: column;

    .autocomplete-group {
      margin-bottom: 16px;
    }

    #button-addon {
      margin-left: 0px;
    }
    .form-control,
    .btn {
      border-radius: 0;
    }
    .btn {
      width: 50%;
      height: 38px;
    }
  }
}

.autocomplete-group {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;

  @media screen and (max-width: 575.98px) {
    width: 100%;
  }
}

.autocomplete-container {
  position: absolute;
  font-size: 14px;
  width: 100%;
  display: block;
  background: #fff;
  z-index: 9;
  border: 1px solid #ced4da;
  border-top: none;
}

.autocomplete-suggestions {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 6px 12px;
  }
}
