<ng-container *ngIf="!selectedCountry">
  <h2>Top 10 total confirmed</h2>
  <div class="table-responsive">
    <canvas
      baseChart
      [datasets]="barChartTotalConfirmedData"
      [labels]="barChartTotalConfirmedLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      class="table"
      style="max-height: 400px;"
    >
    </canvas>
  </div>

  <h2>Top 10 total deaths</h2>
  <div class="table-responsive">
    <canvas
      baseChart
      [datasets]="barChartTotalDeathsData"
      [labels]="barChartTotalDeathsLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      class="table"
      style="max-height: 400px;"
    >
    </canvas>
  </div>

  <h2>Top 10 total recovered</h2>
  <div class="table-responsive">
    <canvas
      baseChart
      [datasets]="barChartTotalRecoveredData"
      [labels]="barChartTotalRecoveredLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      class="table"
      style="max-height: 400px;"
    >
    </canvas>
  </div>
</ng-container>

<ng-container *ngIf="selectedCountry">
  <h2>Results for selected country vs global comparison</h2>
  <div class="table-responsive">
    <canvas
      baseChart
      [datasets]="barChartSelectedCountryData"
      [labels]="barChartSelectedCountryLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      class="table"
      style="max-height: 400px;"
    >
    </canvas>
  </div>
</ng-container>
