<div class="container" role="main">
  <div class="row">
    <div class="col-sm">
      <h1 class="text-center main-header">COVID-19 Statistic</h1>
      <app-navibar
        [countriesNameData]="countriesNameData"
        (selectedCountryEvent)="setCountry($event)"
        (currentViewEvent)="setView($event)"
      ></app-navibar>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <app-results
        *ngIf="selectedView === 'table'"
        [countryName]="selectedCountry"
        [countriesData]="countriesData"
        [summaryData]="summaryData"
      ></app-results>

      <app-bar-chart
        *ngIf="selectedView === 'chart'"
        [countryName]="selectedCountry"
        [countriesData]="countriesData"
        [summaryData]="summaryData"
      ></app-bar-chart>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
